# Problem Statement: 

A Company wants to automate the loan eligibility process based on customer details provided while filling online application form. The details filled by the customer are Gender, Marital Status, Education, Number of Dependents, Income of self and co applicant, Required Loan Amount, Required Loan Term, Credit History and others. The requirements are as follows:

1.)Check eligibility of the Customer given the inputs described above.

In [1]:
import pandas as pd
A=pd.read_csv("C:OneDrive/Documents/class/CSV/train.csv")

In [2]:
A

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [3]:
A.shape

(614, 13)

In [4]:
A.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

# inspect missing data

In [5]:
A.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [6]:
from ANN_modules import catconsep,replacer,preprocessing

# Define X and Y

In [7]:
Y=A[["Loan_Status"]]
X=A.drop(labels=["Loan_ID","Loan_Status"],axis=1)

# convert Y in LabelEncoded Fromat

In [8]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
Y1=pd.DataFrame(le.fit_transform(Y),columns=["Loan_Status"])

C:\Users\HP\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [9]:
cat,con=catconsep(X)

In [10]:
cat

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area']

In [11]:
con

['ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History']

# Preprocessing (missing data treatment,standardization,OHE)

In [12]:
replacer(X)

In [13]:
X.isna().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [14]:
X1 = preprocessing(X)

In [15]:
X1.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.072991,-0.554487,-0.000025,0.279851,0.452152,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
1,-0.134412,-0.038732,-0.219272,0.279851,0.452152,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
2,-0.393747,-0.554487,-0.957640,0.279851,0.452152,0,1,0,1,1,0,0,0,1,0,0,1,0,0,1
3,-0.462062,0.251980,-0.314546,0.279851,0.452152,0,1,0,1,1,0,0,0,0,1,1,0,0,0,1
4,0.097728,-0.554487,-0.064453,0.279851,0.452152,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1

# create neural network

In [16]:
from keras.layers import Dense
from keras.models import Sequential
nn = Sequential()
nn.add(Dense(32,activation="relu",input_dim = X1.shape[1])) # Input Layer
nn.add(Dense(32,activation="relu")) # Hidden Layer
nn.add(Dense(1,activation="sigmoid")) # Output Layer
nn.compile(loss = "binary_crossentropy",metrics=["accuracy"])
nn.fit(X1,Y1,validation_split=0.2,epochs=30)

Epoch 1/30
16/16 [==============================] - 2s 38ms/step - loss: 0.6347 - accuracy: 0.6741 - val_loss: 0.6018 - val_accuracy: 0.6992
Epoch 2/30
16/16 [==============================] - 0s 7ms/step - loss: 0.5711 - accuracy: 0.7149 - val_loss: 0.5573 - val_accuracy: 0.7480
Epoch 3/30
16/16 [==============================] - 0s 7ms/step - loss: 0.5390 - accuracy: 0.7597 - val_loss: 0.5284 - val_accuracy: 0.7724
Epoch 4/30
16/16 [==============================] - 0s 8ms/step - loss: 0.5152 - accuracy: 0.7902 - val_loss: 0.5141 - val_accuracy: 0.8130
Epoch 5/30
16/16 [==============================] - 0s 7ms/step - loss: 0.4989 - accuracy: 0.7984 - val_loss: 0.5024 - val_accuracy: 0.8211
Epoch 6/30
16/16 [==============================] - 0s 7ms/step - loss: 0.4844 - accuracy: 0.8024 - val_loss: 0.4895 - val_accuracy: 0.8211
Epoch 7/30
16/16 [==============================] - 0s 7ms/step - loss: 0.4747 - accuracy: 0.8045 - val_loss: 0.4832 - val_accuracy: 0.8211
Epoch 8/30
16/16 [==============================] - 0s 7ms/step - loss: 0.4654 - accuracy: 0.8065 - val_loss: 0.4779 - val_accuracy: 0.8211
Epoch 9/30
16/16 [==============================] - 0s 7ms/step - loss: 0.4586 - accuracy: 0.8065 - val_loss: 0.4744 - val_accuracy: 0.8293
Epoch 10/30
16/16 [==============================] - 0s 7ms/step - loss: 0.4531 - accuracy: 0.8106 - val_loss: 0.4752 - val_accuracy: 0.8211
Epoch 11/30
16/16 [==============================] - 0s 7ms/step - loss: 0.4472 - accuracy: 0.8065 - val_loss: 0.4730 - val_accuracy: 0.8293
Epoch 12/30
16/16 [==============================] - 0s 7ms/step - loss: 0.4429 - accuracy: 0.8167 - val_loss: 0.4738 - val_accuracy: 0.8293
Epoch 13/30
16/16 [==============================] - 0s 7ms/step - loss: 0.4393 - accuracy: 0.8126 - val_loss: 0.4699 - val_accuracy: 0.8293
Epoch 14/30
16/16 [==============================] - 0s 8ms/step - loss: 0.4360 - accuracy: 0.8106 - val_loss: 0.4715 - val_accuracy: 0.8293
Epoch 15/30
16/16 [==============================] - 0s 7ms/step - loss: 0.4338 - accuracy: 0.8126 - val_loss: 0.4736 - val_accuracy: 0.8293
Epoch 16/30
16/16 [==============================] - 0s 7ms/step - loss: 0.4295 - accuracy: 0.8106 - val_loss: 0.4745 - val_accuracy: 0.8293
Epoch 17/30
16/16 [==============================] - 0s 7ms/step - loss: 0.4267 - accuracy: 0.8147 - val_loss: 0.4785 - val_accuracy: 0.8130
Epoch 18/30
16/16 [==============================] - 0s 8ms/step - loss: 0.4251 - accuracy: 0.8147 - val_loss: 0.4782 - val_accuracy: 0.8130
Epoch 19/30
16/16 [==============================] - 0s 10ms/step - loss: 0.4216 - accuracy: 0.8147 - val_loss: 0.4829 - val_accuracy: 0.8130
Epoch 20/30
16/16 [==============================] - 0s 6ms/step - loss: 0.4192 - accuracy: 0.8167 - val_loss: 0.4799 - val_accuracy: 0.8130
Epoch 21/30
16/16 [==============================] - 0s 7ms/step - loss: 0.4179 - accuracy: 0.8167 - val_loss: 0.4813 - val_accuracy: 0.8211
Epoch 22/30
16/16 [==============================] - 0s 7ms/step - loss: 0.4150 - accuracy: 0.8147 - val_loss: 0.4818 - val_accuracy: 0.8211
Epoch 23/30
16/16 [==============================] - 0s 7ms/step - loss: 0.4131 - accuracy: 0.8147 - val_loss: 0.4809 - val_accuracy: 0.8211
Epoch 24/30
16/16 [==============================] - 0s 7ms/step - loss: 0.4103 - accuracy: 0.8187 - val_loss: 0.4846 - val_accuracy: 0.8211
Epoch 25/30
16/16 [==============================] - 0s 7ms/step - loss: 0.4089 - accuracy: 0.8126 - val_loss: 0.4977 - val_accuracy: 0.8049
Epoch 26/30
16/16 [==============================] - 0s 7ms/step - loss: 0.4074 - accuracy: 0.8187 - val_loss: 0.4934 - val_accuracy: 0.8130
Epoch 27/30
16/16 [==============================] - 0s 8ms/step - loss: 0.4039 - accuracy: 0.8208 - val_loss: 0.4951 - val_accuracy: 0.8130
Epoch 28/30
16/16 [==============================] - 0s 7ms/step - loss: 0.4034 - accuracy: 0.8248 - val_loss: 0.4920 - val_accuracy: 0.8211
Epoch 29/30
16/16 [==============================] - 0s 7ms/step - loss: 0.3995 - accuracy: 0.8248 - val_loss: 0.5012 - val_accuracy: 0.8130
Epoch 30/30
16/16 [==============================] - 0s 7ms/step - loss: 0.3985 - accuracy: 0.8187 - val_loss: 0.4919 - val_accuracy: 0.8211

In [17]:
X1.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Gender_Female', 'Gender_Male',
       'Married_No', 'Married_Yes', 'Dependents_0', 'Dependents_1',
       'Dependents_2', 'Dependents_3+', 'Education_Graduate',
       'Education_Not Graduate', 'Self_Employed_No', 'Self_Employed_Yes',
       'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban'],
      dtype='object')

In [18]:
X1.shape

(614, 20)

In [19]:
nn = Sequential()
nn.add(Dense(32,activation="relu",input_dim = X1.shape[1])) # Input Layer
nn.add(Dense(32,activation="relu")) # Hidden Layer
nn.add(Dense(1,activation="sigmoid")) # Output Layer
nn.compile(loss = "binary_crossentropy",metrics=["accuracy"])
nn.fit(X1,Y1,validation_split=0.2,epochs=100,batch_size=100)

Epoch 1/100
5/5 [==============================] - 2s 93ms/step - loss: 0.6720 - accuracy: 0.6253 - val_loss: 0.6534 - val_accuracy: 0.6992
Epoch 2/100
5/5 [==============================] - 0s 22ms/step - loss: 0.6255 - accuracy: 0.7149 - val_loss: 0.6225 - val_accuracy: 0.7073
Epoch 3/100
5/5 [==============================] - 0s 18ms/step - loss: 0.5971 - accuracy: 0.7291 - val_loss: 0.5977 - val_accuracy: 0.7398
Epoch 4/100
5/5 [==============================] - 0s 18ms/step - loss: 0.5742 - accuracy: 0.7495 - val_loss: 0.5774 - val_accuracy: 0.7805
Epoch 5/100
5/5 [==============================] - 0s 19ms/step - loss: 0.5540 - accuracy: 0.7739 - val_loss: 0.5587 - val_accuracy: 0.8130
Epoch 6/100
5/5 [==============================] - 0s 21ms/step - loss: 0.5351 - accuracy: 0.7841 - val_loss: 0.5420 - val_accuracy: 0.8130
Epoch 7/100
5/5 [==============================] - 0s 17ms/step - loss: 0.5194 - accuracy: 0.7923 - val_loss: 0.5270 - val_accuracy: 0.8130
Epoch 8/100
5/5 [==============================] - 0s 19ms/step - loss: 0.5046 - accuracy: 0.8024 - val_loss: 0.5147 - val_accuracy: 0.8130
Epoch 9/100
5/5 [==============================] - 0s 45ms/step - loss: 0.4917 - accuracy: 0.8045 - val_loss: 0.5039 - val_accuracy: 0.8130
Epoch 10/100
5/5 [==============================] - 0s 17ms/step - loss: 0.4807 - accuracy: 0.8065 - val_loss: 0.4964 - val_accuracy: 0.8211
Epoch 11/100
5/5 [==============================] - 0s 17ms/step - loss: 0.4715 - accuracy: 0.8065 - val_loss: 0.4898 - val_accuracy: 0.8211
Epoch 12/100
5/5 [==============================] - 0s 23ms/step - loss: 0.4630 - accuracy: 0.8045 - val_loss: 0.4832 - val_accuracy: 0.8211
Epoch 13/100
5/5 [==============================] - 0s 16ms/step - loss: 0.4565 - accuracy: 0.8045 - val_loss: 0.4795 - val_accuracy: 0.8130
Epoch 14/100
5/5 [==============================] - 0s 16ms/step - loss: 0.4528 - accuracy: 0.8024 - val_loss: 0.4772 - val_accuracy: 0.8049
Epoch 15/100
5/5 [==============================] - 0s 18ms/step - loss: 0.4493 - accuracy: 0.8045 - val_loss: 0.4736 - val_accuracy: 0.8049
Epoch 16/100
5/5 [==============================] - 0s 17ms/step - loss: 0.4433 - accuracy: 0.8045 - val_loss: 0.4727 - val_accuracy: 0.8049
Epoch 17/100
5/5 [==============================] - 0s 17ms/step - loss: 0.4400 - accuracy: 0.8045 - val_loss: 0.4730 - val_accuracy: 0.8130
Epoch 18/100
5/5 [==============================] - 0s 18ms/step - loss: 0.4381 - accuracy: 0.8024 - val_loss: 0.4732 - val_accuracy: 0.8130
Epoch 19/100
5/5 [==============================] - 0s 17ms/step - loss: 0.4353 - accuracy: 0.8045 - val_loss: 0.4748 - val_accuracy: 0.8211
Epoch 20/100
5/5 [==============================] - 0s 18ms/step - loss: 0.4334 - accuracy: 0.8065 - val_loss: 0.4722 - val_accuracy: 0.8130
Epoch 21/100
5/5 [==============================] - 0s 17ms/step - loss: 0.4313 - accuracy: 0.8065 - val_loss: 0.4720 - val_accuracy: 0.8130
Epoch 22/100
5/5 [==============================] - 0s 16ms/step - loss: 0.4289 - accuracy: 0.8045 - val_loss: 0.4713 - val_accuracy: 0.8130
Epoch 23/100
5/5 [==============================] - 0s 18ms/step - loss: 0.4273 - accuracy: 0.8045 - val_loss: 0.4721 - val_accuracy: 0.8130
Epoch 24/100
5/5 [==============================] - 0s 17ms/step - loss: 0.4259 - accuracy: 0.8065 - val_loss: 0.4745 - val_accuracy: 0.8211
Epoch 25/100
5/5 [==============================] - 0s 17ms/step - loss: 0.4241 - accuracy: 0.8045 - val_loss: 0.4741 - val_accuracy: 0.8211
Epoch 26/100
5/5 [==============================] - 0s 16ms/step - loss: 0.4238 - accuracy: 0.8086 - val_loss: 0.4746 - val_accuracy: 0.8211
Epoch 27/100
5/5 [==============================] - 0s 17ms/step - loss: 0.4216 - accuracy: 0.8045 - val_loss: 0.4775 - val_accuracy: 0.8211
Epoch 28/100
5/5 [==============================] - 0s 16ms/step - loss: 0.4190 - accuracy: 0.8065 - val_loss: 0.4770 - val_accuracy: 0.8211
Epoch 29/100
5/5 [==============================] - 0s 17ms/step - loss: 0.4196 - accuracy: 0.8045 - val_loss: 0.4784 - val_accuracy: 0.8211
Epoch 30/100
5/5 [==============================] - 0s 17ms/step - loss: 0.4170 - accuracy: 0.8086 - val_loss: 0.4787 - val_accuracy: 0.8211
Epoch 31/100
5/5 [==============================] - 0s 15ms/step - loss: 0.4159 - accuracy: 0.8065 - val_loss: 0.4792 - val_accuracy: 0.8211
Epoch 32/100
5/5 [==============================] - 0s 16ms/step - loss: 0.4155 - accuracy: 0.8106 - val_loss: 0.4824 - val_accuracy: 0.8293
Epoch 33/100
5/5 [==============================] - 0s 17ms/step - loss: 0.4135 - accuracy: 0.8106 - val_loss: 0.4828 - val_accuracy: 0.8293
Epoch 34/100
5/5 [==============================] - 0s 18ms/step - loss: 0.4128 - accuracy: 0.8147 - val_loss: 0.4823 - val_accuracy: 0.8211
Epoch 35/100
5/5 [==============================] - 0s 16ms/step - loss: 0.4112 - accuracy: 0.8106 - val_loss: 0.4829 - val_accuracy: 0.8211
Epoch 36/100
5/5 [==============================] - 0s 16ms/step - loss: 0.4111 - accuracy: 0.8106 - val_loss: 0.4872 - val_accuracy: 0.8293
Epoch 37/100
5/5 [==============================] - 0s 16ms/step - loss: 0.4092 - accuracy: 0.8126 - val_loss: 0.4903 - val_accuracy: 0.8293
Epoch 38/100
5/5 [==============================] - 0s 17ms/step - loss: 0.4081 - accuracy: 0.8208 - val_loss: 0.4852 - val_accuracy: 0.8211
Epoch 39/100
5/5 [==============================] - 0s 18ms/step - loss: 0.4077 - accuracy: 0.8126 - val_loss: 0.4883 - val_accuracy: 0.8293
Epoch 40/100
5/5 [==============================] - 0s 17ms/step - loss: 0.4053 - accuracy: 0.8147 - val_loss: 0.4879 - val_accuracy: 0.8293
Epoch 41/100
5/5 [==============================] - 0s 17ms/step - loss: 0.4061 - accuracy: 0.8167 - val_loss: 0.4888 - val_accuracy: 0.8293
Epoch 42/100
5/5 [==============================] - 0s 17ms/step - loss: 0.4033 - accuracy: 0.8126 - val_loss: 0.4958 - val_accuracy: 0.8211
Epoch 43/100
5/5 [==============================] - 0s 15ms/step - loss: 0.4038 - accuracy: 0.8208 - val_loss: 0.4925 - val_accuracy: 0.8293
Epoch 44/100
5/5 [==============================] - 0s 17ms/step - loss: 0.4015 - accuracy: 0.8187 - val_loss: 0.4966 - val_accuracy: 0.8211
Epoch 45/100
5/5 [==============================] - 0s 20ms/step - loss: 0.4009 - accuracy: 0.8228 - val_loss: 0.4942 - val_accuracy: 0.8293
Epoch 46/100
5/5 [==============================] - 0s 17ms/step - loss: 0.4002 - accuracy: 0.8167 - val_loss: 0.4966 - val_accuracy: 0.8211
Epoch 47/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3982 - accuracy: 0.8208 - val_loss: 0.4969 - val_accuracy: 0.8211
Epoch 48/100
5/5 [==============================] - 0s 17ms/step - loss: 0.3980 - accuracy: 0.8208 - val_loss: 0.4973 - val_accuracy: 0.8211
Epoch 49/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3961 - accuracy: 0.8208 - val_loss: 0.4981 - val_accuracy: 0.8211
Epoch 50/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3956 - accuracy: 0.8228 - val_loss: 0.4991 - val_accuracy: 0.8211
Epoch 51/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3935 - accuracy: 0.8269 - val_loss: 0.4982 - val_accuracy: 0.8293
Epoch 52/100
5/5 [==============================] - 0s 17ms/step - loss: 0.3945 - accuracy: 0.8269 - val_loss: 0.5011 - val_accuracy: 0.8211
Epoch 53/100
5/5 [==============================] - 0s 18ms/step - loss: 0.3913 - accuracy: 0.8269 - val_loss: 0.5021 - val_accuracy: 0.8211
Epoch 54/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3921 - accuracy: 0.8208 - val_loss: 0.5057 - val_accuracy: 0.8130
Epoch 55/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3900 - accuracy: 0.8289 - val_loss: 0.5040 - val_accuracy: 0.8211
Epoch 56/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3886 - accuracy: 0.8208 - val_loss: 0.5083 - val_accuracy: 0.8049
Epoch 57/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3876 - accuracy: 0.8269 - val_loss: 0.5080 - val_accuracy: 0.8130
Epoch 58/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3869 - accuracy: 0.8330 - val_loss: 0.5079 - val_accuracy: 0.8130
Epoch 59/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3849 - accuracy: 0.8289 - val_loss: 0.5107 - val_accuracy: 0.8049
Epoch 60/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3850 - accuracy: 0.8248 - val_loss: 0.5118 - val_accuracy: 0.8130
Epoch 61/100
5/5 [==============================] - 0s 18ms/step - loss: 0.3839 - accuracy: 0.8208 - val_loss: 0.5118 - val_accuracy: 0.8130
Epoch 62/100
5/5 [==============================] - 0s 32ms/step - loss: 0.3833 - accuracy: 0.8289 - val_loss: 0.5149 - val_accuracy: 0.8049
Epoch 63/100
5/5 [==============================] - 0s 19ms/step - loss: 0.3809 - accuracy: 0.8289 - val_loss: 0.5161 - val_accuracy: 0.8049
Epoch 64/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3799 - accuracy: 0.8330 - val_loss: 0.5155 - val_accuracy: 0.8049
Epoch 65/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3790 - accuracy: 0.8289 - val_loss: 0.5205 - val_accuracy: 0.7886
Epoch 66/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3780 - accuracy: 0.8350 - val_loss: 0.5201 - val_accuracy: 0.7886
Epoch 67/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3780 - accuracy: 0.8391 - val_loss: 0.5198 - val_accuracy: 0.8049
Epoch 68/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3751 - accuracy: 0.8371 - val_loss: 0.5179 - val_accuracy: 0.8130
Epoch 69/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3746 - accuracy: 0.8289 - val_loss: 0.5194 - val_accuracy: 0.8130
Epoch 70/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3750 - accuracy: 0.8371 - val_loss: 0.5222 - val_accuracy: 0.7886
Epoch 71/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3761 - accuracy: 0.8432 - val_loss: 0.5217 - val_accuracy: 0.8049
Epoch 72/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3706 - accuracy: 0.8391 - val_loss: 0.5265 - val_accuracy: 0.7886
Epoch 73/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3700 - accuracy: 0.8411 - val_loss: 0.5241 - val_accuracy: 0.8130
Epoch 74/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3689 - accuracy: 0.8330 - val_loss: 0.5284 - val_accuracy: 0.7886
Epoch 75/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3688 - accuracy: 0.8554 - val_loss: 0.5268 - val_accuracy: 0.8049
Epoch 76/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3669 - accuracy: 0.8371 - val_loss: 0.5320 - val_accuracy: 0.7886
Epoch 77/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3663 - accuracy: 0.8452 - val_loss: 0.5309 - val_accuracy: 0.8049
Epoch 78/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3647 - accuracy: 0.8411 - val_loss: 0.5336 - val_accuracy: 0.7805
Epoch 79/100
5/5 [==============================] - 0s 15ms/step - loss: 0.3651 - accuracy: 0.8452 - val_loss: 0.5350 - val_accuracy: 0.7805
Epoch 80/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3623 - accuracy: 0.8432 - val_loss: 0.5412 - val_accuracy: 0.7724
Epoch 81/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3618 - accuracy: 0.8513 - val_loss: 0.5390 - val_accuracy: 0.7805
Epoch 82/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3606 - accuracy: 0.8513 - val_loss: 0.5405 - val_accuracy: 0.7886
Epoch 83/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3591 - accuracy: 0.8574 - val_loss: 0.5384 - val_accuracy: 0.8049
Epoch 84/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3587 - accuracy: 0.8432 - val_loss: 0.5421 - val_accuracy: 0.7886
Epoch 85/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3569 - accuracy: 0.8513 - val_loss: 0.5428 - val_accuracy: 0.7886
Epoch 86/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3562 - accuracy: 0.8493 - val_loss: 0.5470 - val_accuracy: 0.7724
Epoch 87/100
5/5 [==============================] - 0s 16ms/step - loss: 0.3544 - accuracy: 0.8473 - val_loss: 0.5512 - val_accuracy: 0.7724
Epoch 88/100
5/5 [==============================] - 0s 17ms/step - loss: 0.3567 - accuracy: 0.8452 - val_loss: 0.5518 - val_accuracy: 0.7724
Epoch 89/100
5/5 [==============================] - 0s 28ms/step - loss: 0.3518 - accuracy: 0.8534 - val_loss: 0.5502 - val_accuracy: 0.7724
Epoch 90/100
5/5 [==============================] - 0s 18ms/step - loss: 0.3519 - accuracy: 0.8493 - val_loss: 0.5551 - val_accuracy: 0.7724
Epoch 91/100
5/5 [==============================] - 0s 18ms/step - loss: 0.3496 - accuracy: 0.8595 - val_loss: 0.5563 - val_accuracy: 0.7642
Epoch 92/100
5/5 [==============================] - 0s 18ms/step - loss: 0.3497 - accuracy: 0.8574 - val_loss: 0.5565 - val_accuracy: 0.7724
Epoch 93/100
5/5 [==============================] - 0s 18ms/step - loss: 0.3488 - accuracy: 0.8534 - val_loss: 0.5619 - val_accuracy: 0.7642
Epoch 94/100
5/5 [==============================] - 0s 18ms/step - loss: 0.3465 - accuracy: 0.8676 - val_loss: 0.5589 - val_accuracy: 0.7805
Epoch 95/100
5/5 [==============================] - 0s 18ms/step - loss: 0.3463 - accuracy: 0.8513 - val_loss: 0.5636 - val_accuracy: 0.7642
Epoch 96/100
5/5 [==============================] - 0s 18ms/step - loss: 0.3448 - accuracy: 0.8676 - val_loss: 0.5640 - val_accuracy: 0.7724
Epoch 97/100
5/5 [==============================] - 0s 18ms/step - loss: 0.3431 - accuracy: 0.8595 - val_loss: 0.5679 - val_accuracy: 0.7642
Epoch 98/100
5/5 [==============================] - 0s 18ms/step - loss: 0.3420 - accuracy: 0.8656 - val_loss: 0.5692 - val_accuracy: 0.7642
Epoch 99/100
5/5 [==============================] - 0s 18ms/step - loss: 0.3416 - accuracy: 0.8676 - val_loss: 0.5705 - val_accuracy: 0.7724
Epoch 100/100
5/5 [==============================] - 0s 18ms/step - loss: 0.3395 - accuracy: 0.8697 - val_loss: 0.5717 - val_accuracy: 0.7724

# fetch testing set

In [20]:
B=pd.read_csv("C:OneDrive/Documents/class/CSV/test.csv")

In [21]:
B

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [22]:
xtest=B.drop(labels=["Loan_ID"],axis=1)

In [23]:
xtest

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...
362,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

# missing data treatment

In [24]:
replacer(xtest)

In [25]:
xtest

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.00,Urban
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.00,Urban
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.00,Urban
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,0.83,Urban
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.00,Urban
...,...,...,...,...,...,...,...,...,...,...,...
362,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.00,Urban
363,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.00,Urban
364,Male,No,0,Graduate,No,3250,1993,126.0,360.0,0.83,Semiurban
365,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.00,Rural
366,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.00,Rural

# preprocessing test set

In [26]:
preprocessing(xtest)

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.186461,-0.673335,-0.429367,0.270602,0.478189,0,1,0,1,1,0,0,0,1,0,1,0,0,0,1
1,-0.352692,-0.029848,-0.166482,0.270602,0.478189,0,1,0,1,0,1,0,0,1,0,1,0,0,0,1
2,0.039641,0.098849,1.180808,0.270602,0.478189,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
3,-0.502774,0.418877,-0.593671,0.270602,0.011519,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
4,-0.311909,-0.673335,-0.955139,0.270602,0.478189,0,1,1,0,1,0,0,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,-0.162439,0.088982,-0.380076,0.270602,0.478189,0,1,0,1,0,0,0,1,0,1,0,1,0,0,1
363,-0.132056,-0.369180,-0.347216,0.270602,0.478189,0,1,0,1,1,0,0,0,1,0,1,0,0,0,1
364,-0.317211,0.181644,-0.166482,0.270602,0.011519,0,1,1,0,1,0,0,0,1,0,1,0,0,1,0
365,0.039641,0.353241,0.359290,0.270602,0.478189,0,1,0,1,1,0,0,0,1,0,1,0,1,0,0
366,0.896087,-0.673335,-0.626532,-2.518700,0.478189,0,1,1,0,1,0,0,0,1,0,0,1,1,0,0

In [27]:
xtest=preprocessing(xtest)

In [28]:
nn.predict(xtest)

12/12 [==============================] - 0s 2ms/step

array([[0.896151  ],
       [0.7436502 ],
       [0.69127613],
       [0.8425449 ],
       [0.5262848 ],
       [0.7539333 ],
       [0.75464773],
       [0.01014545],
       [0.8580686 ],
       [0.9260217 ],
       [0.5263581 ],
       [0.93689394],
       [0.94902474],
       [0.17174928],
       [0.8690762 ],
       [0.59850854],
       [0.73230225],
       [0.96730196],
       [0.4233556 ],
       [0.98282444],
       [0.71347815],
       [0.7765761 ],
       [0.7928809 ],
       [0.72899795],
       [0.2812343 ],
       [0.3973303 ],
       [0.7604725 ],
       [0.3517001 ],
       [0.9195102 ],
       [0.9358509 ],
       [0.89563906],
       [0.77087545],
       [0.91785717],
       [0.77157706],
       [0.9265149 ],
       [0.04748636],
       [0.93719447],
       [0.8881021 ],
       [0.7369928 ],
       [0.7500594 ],
       [0.93569326],
       [0.82184345],
       [0.96148795],
       [0.8424206 ],
       [0.8627468 ],
       [0.53531635],
       [0.6563072 ],
       [0.9201714 ],
       [0.6804327 ],
       [0.96493745],
       [0.7171998 ],
       [0.9192061 ],
       [0.92196673],
       [0.98255926],
       [0.581361  ],
       [0.03053605],
       [0.69603986],
       [0.98995733],
       [0.18935321],
       [0.9633432 ],
       [0.95002115],
       [0.8973235 ],
       [0.90167344],
       [0.09137505],
       [0.6115728 ],
       [0.9720064 ],
       [0.00246873],
       [0.01162193],
       [0.84240127],
       [0.06982746],
       [0.88907105],
       [0.89064527],
       [0.86435854],
       [0.51226777],
       [0.96632415],
       [0.6335365 ],
       [0.56505704],
       [0.5023113 ],
       [0.9234585 ],
       [0.6845503 ],
       [0.13999459],
       [0.57708526],
       [0.00337211],
       [0.31531197],
       [0.14242806],
       [0.9894107 ],
       [0.8712583 ],
       [0.88008904],
       [0.9648577 ],
       [0.43303636],
       [0.821695  ],
       [0.6953543 ],
       [0.9169108 ],
       [0.9808664 ],
       [0.01453765],
       [0.9704442 ],
       [0.5681028 ],
       [0.9699236 ],
       [0.94615495],
       [0.9418189 ],
       [0.70574635],
       [0.00507004],
       [0.8128819 ],
       [0.90119976],
       [0.9276045 ],
       [0.84872806],
       [0.0473381 ],
       [0.8635475 ],
       [0.89409626],
       [0.6266726 ],
       [0.83302754],
       [0.9297737 ],
       [0.8387402 ],
       [0.9708677 ],
       [0.8809643 ],
       [0.90469986],
       [0.92377216],
       [0.0345086 ],
       [0.08051734],
       [0.10192873],
       [0.78380483],
       [0.8764672 ],
       [0.75915235],
       [0.21896379],
       [0.06888121],
       [0.8540977 ],
       [0.04207676],
       [0.71484214],
       [0.95929265],
       [0.9289788 ],
       [0.8895879 ],
       [0.7062762 ],
       [0.6756102 ],
       [0.6440208 ],
       [0.9555496 ],
       [0.8623609 ],
       [0.8700366 ],
       [0.7764809 ],
       [0.9387941 ],
       [0.92340976],
       [0.05400797],
       [0.90079165],
       [0.0193722 ],
       [0.84527963],
       [0.9728837 ],
       [0.777472  ],
       [0.70971406],
       [0.0083786 ],
       [0.952734  ],
       [0.8110807 ],
       [0.5274068 ],
       [0.907361  ],
       [0.6612286 ],
       [0.00546484],
       [0.93296194],
       [0.93890494],
       [0.83500016],
       [0.82726854],
       [0.8525052 ],
       [0.40206003],
       [0.61397964],
       [0.05993038],
       [0.8065651 ],
       [0.601321  ],
       [0.85618424],
       [0.00524825],
       [0.04582354],
       [0.8687667 ],
       [0.13117485],
       [0.7182117 ],
       [0.63869816],
       [0.74822783],
       [0.47959515],
       [0.2747492 ],
       [0.00638038],
       [0.9447765 ],
       [0.8352837 ],
       [0.52038014],
       [0.87977046],
       [0.91007346],
       [0.98087764],
       [0.9427413 ],
       [0.8432924 ],
       [0.52466375],
       [0.9235253 ],
       [0.53306985],
       [0.9690644 ],
       [0.94113415],
       [0.4058551 ],
       [0.4501863 ],
       [0.4780855 ],
       [0.7884106 ],
       [0.03106255],
       [0.01940311],
       [0.78695863],
       [0.7369928 ],
       [0.01415482],
       [0.78314215],
       [0.08728719],
       [0.83848774],
       [0.39979327],
       [0.70069605],
       [0.8686103 ],
       [0.96414167],
       [0.9252638 ],
       [0.9747473 ],
       [0.91343623],
       [0.94568264],
       [0.8613068 ],
       [0.6779694 ],
       [0.8437039 ],
       [0.0915796 ],
       [0.9873513 ],
       [0.65405524],
       [0.92206717],
       [0.7513894 ],
       [0.944281  ],
       [0.4437206 ],
       [0.6416992 ],
       [0.72116864],
       [0.86405784],
       [0.7278028 ],
       [0.51459485],
       [0.64181364],
       [0.42854318],
       [0.8550856 ],
       [0.92537963],
       [0.8165057 ],
       [0.84944206],
       [0.01702111],
       [0.93741477],
       [0.6958876 ],
       [0.9607961 ],
       [0.7818162 ],
       [0.7680137 ],
       [0.07964544],
       [0.64214236],
       [0.8485309 ],
       [0.9736273 ],
       [0.1597565 ],
       [0.52646154],
       [0.03042708],
       [0.9568465 ],
       [0.03856557],
       [0.89125735],
       [0.41160715],
       [0.93599373],
       [0.81603104],
       [0.645972  ],
       [0.94107485],
       [0.03526676],
       [0.97350055],
       [0.8555318 ],
       [0.8425675 ],
       [0.6957352 ],
       [0.05395725],
       [0.6107849 ],
       [0.80662644],
       [0.8579264 ],
       [0.49540657],
       [0.84481865],
       [0.9725581 ],
       [0.63807213],
       [0.48320594],
       [0.79277635],
       [0.93002635],
       [0.00203587],
       [0.6471883 ],
       [0.18911798],
       [0.69526196],
       [0.6940451 ],
       [0.45578343],
       [0.47322196],
       [0.10416998],
       [0.04881266],
       [0.9667169 ],
       [0.8300044 ],
       [0.93755955],
       [0.01182567],
       [0.46774235],
       [0.95103794],
       [0.56502205],
       [0.66350985],
       [0.36251336],
       [0.18889965],
       [0.69179773],
       [0.57573235],
       [0.8874732 ],
       [0.8189649 ],
       [0.7148372 ],
       [0.93561834],
       [0.84201896],
       [0.4584076 ],
       [0.04267563],
       [0.76522183],
       [0.86733556],
       [0.85912836],
       [0.47756615],
       [0.97547585],
       [0.88120604],
       [0.74311936],
       [0.01922754],
       [0.4999163 ],
       [0.55651695],
       [0.9588673 ],
       [0.7284199 ],
       [0.9515937 ],
       [0.7644861 ],
       [0.78874344],
       [0.9748372 ],
       [0.81596005],
       [0.20586663],
       [0.9415709 ],
       [0.86976254],
       [0.8154204 ],
       [0.8803627 ],
       [0.60392404],
       [0.01616039],
       [0.37404978],
       [0.7959908 ],
       [0.7359374 ],
       [0.54460543],
       [0.8629667 ],
       [0.9552631 ],
       [0.73586094],
       [0.8988302 ],
       [0.8422812 ],
       [0.816734  ],
       [0.93800217],
       [0.8595927 ],
       [0.4897887 ],
       [0.761457  ],
       [0.61170846],
       [0.9526264 ],
       [0.97901803],
       [0.8322023 ],
       [0.5523838 ],
       [0.8884554 ],
       [0.8615139 ],
       [0.12863624],
       [0.97540045],
       [0.7315251 ],
       [0.6489975 ],
       [0.80129063],
       [0.58963627],
       [0.737761  ],
       [0.04385089],
       [0.5184872 ],
       [0.8320535 ],
       [0.7519864 ],
       [0.7249787 ],
       [0.89503205],
       [0.9312579 ],
       [0.9186573 ],
       [0.0463407 ],
       [0.76962245],
       [0.83240736],
       [0.77546304],
       [0.64617586],
       [0.93846107],
       [0.8008804 ],
       [0.9428665 ],
       [0.78012425],
       [0.91033393],
       [0.90786546],
       [0.7080151 ],
       [0.9118672 ]], dtype=float32)

In [29]:
W=[]

In [31]:
for i in nn.predict(xtest):
    if (i<0.5):
        W.append("Y")
    else:
        W.append("N")

12/12 [==============================] - 0s 3ms/step

In [32]:
Predicted_loan_status=pd.DataFrame(W,columns=["Predicted_loan_status"])

In [33]:
Predicted_loan_status

    Predicted_loan_status
0                       N
1                       N
2                       N
3                       N
4                       N
..                    ...
362                     N
363                     N
364                     N
365                     N
366                     N

[367 rows x 1 columns]

In [34]:
Predicted_loan_status.value_counts()

Predicted_loan_status
N                        285
Y                         82
dtype: int64

In [35]:
xtest

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.186461,-0.673335,-0.429367,0.270602,0.478189,0,1,0,1,1,0,0,0,1,0,1,0,0,0,1
1,-0.352692,-0.029848,-0.166482,0.270602,0.478189,0,1,0,1,0,1,0,0,1,0,1,0,0,0,1
2,0.039641,0.098849,1.180808,0.270602,0.478189,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
3,-0.502774,0.418877,-0.593671,0.270602,0.011519,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
4,-0.311909,-0.673335,-0.955139,0.270602,0.478189,0,1,1,0,1,0,0,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,-0.162439,0.088982,-0.380076,0.270602,0.478189,0,1,0,1,0,0,0,1,0,1,0,1,0,0,1
363,-0.132056,-0.369180,-0.347216,0.270602,0.478189,0,1,0,1,1,0,0,0,1,0,1,0,0,0,1
364,-0.317211,0.181644,-0.166482,0.270602,0.011519,0,1,1,0,1,0,0,0,1,0,1,0,0,1,0
365,0.039641,0.353241,0.359290,0.270602,0.478189,0,1,0,1,1,0,0,0,1,0,1,0,1,0,0
366,0.896087,-0.673335,-0.626532,-2.518700,0.478189,0,1,1,0,1,0,0,0,1,0,0,1,1,0,0

In [36]:

B=B.merge(Predicted_loan_status, how="inner",left_index=True,right_index=True)

In [37]:
B

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Predicted_loan_status
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,N
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,N
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,N
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,N
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban,N
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban,N
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban,N
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural,N
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural,N

# 2)  Problem Statement: 
    If customer is not eligible for the input required amount and duration:

# Data Preparation

In [38]:
replacer(A)

In [39]:
A1=A[A.Loan_Status=="Y"]

In [40]:
A2 = B[B.Predicted_loan_status=="Y"]

In [41]:
A1.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [42]:
A2.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area',
       'Predicted_loan_status'],
      dtype='object')

In [43]:
A2.columns=A1.columns

In [44]:
C=pd.concat([A1,A2])

In [45]:
C

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.41,360.0,1.0,Urban,Y
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.00,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.00,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.00,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.00,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,LP002775,NaN,No,0,Not Graduate,No,4768,0.0,125.00,360.0,1.0,Rural,Y
330,LP002823,Male,Yes,0,Graduate,No,5509,0.0,143.00,360.0,1.0,Rural,Y
339,LP002858,Female,No,0,Graduate,No,4333,2333.0,162.00,360.0,0.0,Rural,Y
346,LP002879,Male,Yes,0,Graduate,No,3391,1966.0,133.00,360.0,0.0,Rural,Y
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187.0,158.00,180.0,0.0,Semiurban,Y

In [47]:
C.index=range(0,504,1)

# Preprocessing

In [48]:
X=C.drop(labels=["LoanAmount","Loan_ID"],axis=1)
replacer(X)
Y=C[["LoanAmount"]]
replacer(Y)

C:\Users\HP\ANN_modules.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i]=df[i].fillna(x)

In [49]:
X1=preprocessing(X)

In [50]:
X1.shape

(504, 20)

In [51]:
Y.isna().sum()

LoanAmount    0
dtype: int64

# Create NN

In [52]:
from tensorflow.keras.losses import MAE,mean_absolute_error

In [53]:
from keras.layers import Dense
from keras.models import Sequential
nn1=Sequential()
nn1.add(Dense(32,activation="relu",input_dim=X1.shape[1]))
nn1.add(Dense(32,activation="relu"))
nn1.add(Dense(1))
nn1.compile(loss="mean_squared_error")
nn1.fit(X1,Y,validation_split=0.2,epochs=30)

Epoch 1/30
13/13 [==============================] - 1s 27ms/step - loss: 27154.2637 - val_loss: 29941.5918
Epoch 2/30
13/13 [==============================] - 0s 7ms/step - loss: 26724.2090 - val_loss: 29446.7793
Epoch 3/30
13/13 [==============================] - 0s 8ms/step - loss: 26236.6855 - val_loss: 28901.9355
Epoch 4/30
13/13 [==============================] - 0s 8ms/step - loss: 25650.7266 - val_loss: 28210.5312
Epoch 5/30
13/13 [==============================] - 0s 8ms/step - loss: 24899.6543 - val_loss: 27367.1680
Epoch 6/30
13/13 [==============================] - 0s 7ms/step - loss: 24012.3125 - val_loss: 26414.9648
Epoch 7/30
13/13 [==============================] - 0s 7ms/step - loss: 22983.5059 - val_loss: 25282.3047
Epoch 8/30
13/13 [==============================] - 0s 8ms/step - loss: 21781.1094 - val_loss: 24025.7285
Epoch 9/30
13/13 [==============================] - 0s 15ms/step - loss: 20427.7676 - val_loss: 22591.0156
Epoch 10/30
13/13 [==============================] - 0s 8ms/step - loss: 18929.6309 - val_loss: 21004.2754
Epoch 11/30
13/13 [==============================] - 0s 8ms/step - loss: 17304.0664 - val_loss: 19293.7969
Epoch 12/30
13/13 [==============================] - 0s 9ms/step - loss: 15602.8838 - val_loss: 17488.8555
Epoch 13/30
13/13 [==============================] - 0s 8ms/step - loss: 13897.4785 - val_loss: 15644.8721
Epoch 14/30
13/13 [==============================] - 0s 7ms/step - loss: 12212.3301 - val_loss: 13790.9590
Epoch 15/30
13/13 [==============================] - 0s 7ms/step - loss: 10634.8867 - val_loss: 12038.9111
Epoch 16/30
13/13 [==============================] - 0s 8ms/step - loss: 9209.4893 - val_loss: 10330.2236
Epoch 17/30
13/13 [==============================] - 0s 7ms/step - loss: 8025.1016 - val_loss: 8911.8760
Epoch 18/30
13/13 [==============================] - 0s 9ms/step - loss: 7138.3608 - val_loss: 7688.4888
Epoch 19/30
13/13 [==============================] - 0s 12ms/step - loss: 6488.5249 - val_loss: 6571.0825
Epoch 20/30
13/13 [==============================] - 0s 9ms/step - loss: 6096.2334 - val_loss: 5926.4692
Epoch 21/30
13/13 [==============================] - 0s 8ms/step - loss: 5907.2139 - val_loss: 5566.6714
Epoch 22/30
13/13 [==============================] - 0s 8ms/step - loss: 5790.8311 - val_loss: 5337.4092
Epoch 23/30
13/13 [==============================] - 0s 9ms/step - loss: 5681.4624 - val_loss: 5282.3096
Epoch 24/30
13/13 [==============================] - 0s 8ms/step - loss: 5577.7148 - val_loss: 5315.7446
Epoch 25/30
13/13 [==============================] - 0s 10ms/step - loss: 5476.0967 - val_loss: 5037.2285
Epoch 26/30
13/13 [==============================] - 0s 7ms/step - loss: 5378.6768 - val_loss: 5016.6494
Epoch 27/30
13/13 [==============================] - 0s 7ms/step - loss: 5276.6597 - val_loss: 4934.0586
Epoch 28/30
13/13 [==============================] - 0s 8ms/step - loss: 5175.9663 - val_loss: 4751.0327
Epoch 29/30
13/13 [==============================] - 0s 9ms/step - loss: 5094.8247 - val_loss: 4737.1616
Epoch 30/30
13/13 [==============================] - 0s 8ms/step - loss: 5005.6050 - val_loss: 4700.3691

# Prepare Data for prediction

In [54]:
B[B.Predicted_loan_status=="N"]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Predicted_loan_status
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,N
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,N
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,N
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,N
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban,N
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban,N
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban,N
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural,N
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural,N

In [55]:
B1 = B[B.Predicted_loan_status == "N"]
replacer(B1)

C:\Users\HP\ANN_modules.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i]=df[i].fillna(x)
C:\Users\HP\ANN_modules.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i]=df[i].fillna(x)

In [56]:
newX = B1.drop(labels=["Loan_ID","LoanAmount"],axis=1)

In [57]:
newX.columns = X.columns

In [58]:
newX.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'Loan_Amount_Term',
       'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [60]:
newX.index = range(0,285 ,1)

In [61]:
Xpred = preprocessing(newX)

In [62]:
Xpred.columns=X1.columns

# Predictions

In [63]:
pred = nn1.predict(Xpred)

9/9 [==============================] - 0s 5ms/step

In [64]:
pred

array([[148.39882 ],
       [144.43074 ],
       [156.99358 ],
       [147.95615 ],
       [112.75643 ],
       [136.12859 ],
       [104.79896 ],
       [177.37538 ],
       [117.952576],
       [112.03043 ],
       [140.43834 ],
       [118.67255 ],
       [128.54651 ],
       [138.54738 ],
       [159.33885 ],
       [140.87144 ],
       [121.267586],
       [125.14294 ],
       [ 98.58384 ],
       [130.37524 ],
       [110.54616 ],
       [151.35811 ],
       [142.0051  ],
       [124.602745],
       [104.466774],
       [158.45247 ],
       [133.36925 ],
       [146.5833  ],
       [142.06651 ],
       [163.32088 ],
       [147.72992 ],
       [140.71158 ],
       [136.36147 ],
       [150.97235 ],
       [124.98096 ],
       [124.82919 ],
       [149.63412 ],
       [125.06853 ],
       [154.4619  ],
       [132.56029 ],
       [115.78557 ],
       [152.4819  ],
       [144.6564  ],
       [142.55823 ],
       [126.15777 ],
       [151.2755  ],
       [139.56744 ],
       [134.66545 ],
       [116.1739  ],
       [145.92348 ],
       [132.10745 ],
       [126.20551 ],
       [157.28317 ],
       [134.74954 ],
       [127.61208 ],
       [150.53114 ],
       [155.64265 ],
       [122.90962 ],
       [132.07774 ],
       [133.35768 ],
       [155.11577 ],
       [142.763   ],
       [141.69753 ],
       [146.81839 ],
       [145.96016 ],
       [154.43199 ],
       [152.93674 ],
       [417.17783 ],
       [172.02461 ],
       [146.72404 ],
       [126.5165  ],
       [124.20493 ],
       [151.8996  ],
       [182.08736 ],
       [152.64412 ],
       [139.63684 ],
       [145.18556 ],
       [155.144   ],
       [151.46779 ],
       [163.79755 ],
       [150.68813 ],
       [135.70345 ],
       [142.3315  ],
       [122.56238 ],
       [130.36838 ],
       [139.0077  ],
       [146.2399  ],
       [143.03932 ],
       [133.44133 ],
       [131.52625 ],
       [141.37532 ],
       [124.07731 ],
       [149.60712 ],
       [164.06314 ],
       [144.3528  ],
       [101.16702 ],
       [127.25427 ],
       [153.10793 ],
       [144.04234 ],
       [132.88985 ],
       [160.48557 ],
       [117.16059 ],
       [130.29378 ],
       [143.45454 ],
       [131.47978 ],
       [151.39842 ],
       [126.05923 ],
       [120.05188 ],
       [142.57884 ],
       [151.70964 ],
       [148.48396 ],
       [132.0656  ],
       [124.579216],
       [143.80981 ],
       [254.06386 ],
       [161.03368 ],
       [158.2285  ],
       [111.98286 ],
       [147.74977 ],
       [138.3011  ],
       [143.20538 ],
       [141.93263 ],
       [137.88496 ],
       [153.12285 ],
       [114.963554],
       [165.73997 ],
       [154.17125 ],
       [147.74196 ],
       [151.08589 ],
       [137.03917 ],
       [124.4215  ],
       [131.70624 ],
       [149.43155 ],
       [139.81718 ],
       [129.39757 ],
       [136.27234 ],
       [170.94669 ],
       [137.91228 ],
       [124.13171 ],
       [154.20961 ],
       [184.9366  ],
       [155.32869 ],
       [153.49442 ],
       [147.97775 ],
       [155.6108  ],
       [166.91864 ],
       [126.47623 ],
       [137.00343 ],
       [166.61873 ],
       [131.06792 ],
       [175.76204 ],
       [140.7116  ],
       [128.6715  ],
       [144.71207 ],
       [123.04864 ],
       [141.17451 ],
       [141.88184 ],
       [121.81725 ],
       [144.67445 ],
       [155.3756  ],
       [142.4233  ],
       [127.24606 ],
       [127.2826  ],
       [119.877525],
       [148.7149  ],
       [140.70338 ],
       [142.49129 ],
       [126.65345 ],
       [117.40651 ],
       [157.90488 ],
       [149.39522 ],
       [140.89883 ],
       [136.54013 ],
       [135.02516 ],
       [131.20389 ],
       [120.60601 ],
       [142.1368  ],
       [157.39973 ],
       [138.30064 ],
       [231.44717 ],
       [140.0585  ],
       [128.5553  ],
       [141.40007 ],
       [136.2928  ],
       [100.63779 ],
       [200.24078 ],
       [128.74434 ],
       [114.98546 ],
       [142.06995 ],
       [103.000435],
       [160.98436 ],
       [165.43681 ],
       [128.3284  ],
       [119.97947 ],
       [136.7412  ],
       [127.18051 ],
       [150.2711  ],
       [142.9561  ],
       [139.71425 ],
       [155.05727 ],
       [155.42093 ],
       [129.74922 ],
       [142.6376  ],
       [133.10617 ],
       [149.73811 ],
       [139.88055 ],
       [127.97637 ],
       [131.94556 ],
       [120.82297 ],
       [141.0164  ],
       [151.50389 ],
       [123.212975],
       [130.57512 ],
       [148.69923 ],
       [131.36305 ],
       [161.63457 ],
       [132.7104  ],
       [142.96617 ],
       [134.65068 ],
       [174.3304  ],
       [147.10927 ],
       [153.40012 ],
       [128.33089 ],
       [138.92375 ],
       [140.09914 ],
       [125.261925],
       [150.19693 ],
       [159.33574 ],
       [128.0747  ],
       [137.98799 ],
       [117.58317 ],
       [166.32936 ],
       [133.78831 ],
       [157.13808 ],
       [158.08858 ],
       [135.96834 ],
       [116.95801 ],
       [153.70007 ],
       [121.70828 ],
       [144.44063 ],
       [141.5056  ],
       [136.95673 ],
       [146.1199  ],
       [119.35651 ],
       [124.24354 ],
       [197.12328 ],
       [150.02486 ],
       [114.8422  ],
       [123.49786 ],
       [153.20894 ],
       [163.71426 ],
       [145.057   ],
       [163.71793 ],
       [131.44518 ],
       [139.53195 ],
       [138.53372 ],
       [129.369   ],
       [113.77103 ],
       [140.34412 ],
       [147.21526 ],
       [146.05594 ],
       [153.41702 ],
       [118.11418 ],
       [145.51218 ],
       [145.28136 ],
       [158.28407 ],
       [111.1553  ],
       [133.8189  ],
       [139.02074 ],
       [168.29782 ],
       [188.05145 ],
       [152.05092 ],
       [163.82452 ],
       [159.7275  ],
       [148.84181 ],
       [124.766235],
       [129.76845 ],
       [140.1639  ],
       [169.47049 ],
       [143.10913 ],
       [135.18172 ],
       [144.72533 ],
       [133.32939 ],
       [157.84697 ],
       [146.93892 ]], dtype=float32)